@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
}

.link:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}
.link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.link:hover:before {
    width: 100%;
    transition: 0.2s ease-in-out;
}